<!doctype html>
<html lang="en">

<% include ./headers/header %>

<script type="text/javascript">

</script>

<body>
  <div id="div_load_image" class="loadingArea">
    <img src="/images/loading7.gif" style="width:400px; height:400px;">
  </div>

  <!-- START OF SIDEBAR DIV -->
  <div id="sidebar-left" class="sidebar">
  
    <!-- Nav tabs -->
    <div class="sidebar-tabs">
      <ul role="tablist">
        <li class="active"><a href="#tracks" role="tab"><i class="fas fa-map"></i></a></li>
        <li><a href="#trackTimes" role="tab"><i class="fab fa-quora"></i></a></li>
        <li><a href="#info" role="tab"><i class="fas fa-plus"></i></a></li>
        <li><a href="https://github.com/khyoo/LX_analysisViewer" role="tab" target="_blank"><i class="fab fa-github"></i></a></li>
      </ul>
      <ul role="tablist">
        <li><a href="#settings" role="tab"><i class="fas fa-user-cog"></i></a></li>
      </ul>
    </div>
  
    <!-- Tab panes -->
    <div class="sidebar-content" style="word-break: break-all;">
      <div class="sidebar-pane active" id="tracks">
        <h2 class="sidebar-header">
          Layers
          <span class="sidebar-close"><i class="fas fa-caret-left"></i></span>
        </h2>
        <div id="layers" class="layer-switcher"></div>
        
        <div class="grpLayer-title">
          ▶ 기본 레이어
        </div>
        <div class="grpLayer-body">
          <input type="checkbox" id="allRoadPoiChk" /> 전체 도로 Point          
        </div>

        <div class="grpLayer-title">
          ▶ 분석 레이어
        </div>
        <div class="grpLayer-body">
          <input type="checkbox" id="psLayerChk" /> 보행점수 레이어
          <div class="grpLayer-body-sub">
            <div>
              <input type="checkbox" id="qtLayerChk" /> 정량점수 레이어               
            </div>                        
            <div class="grpLayer-body-sub">
              <input type="checkbox" id="qtPointChk" /> 포인트 레이어
              <div class="qtPointDiv">
                <span class="layer-edit"><a href="#" id="save1" title="저장"><i class="fas fa-edit"></i></a></span>            
                <span class="layer-download"><a href="#" id="down1" title="다운로드"><i class="fas fa-download"></i></a></span>            
              </div>
              <div class="grpLayer-body-sub">
                <input type="checkbox" id="qtPointScoreChk" /> 보행점수
              </div>
              <div class="grpLayer-body-sub">
                <input type="checkbox" id="qtPointHmapChk" /> 히트맵
                <div class="rangebar qtPointhmapDiv">
                  <label>HeatMap blur size</label>
                  <br/>
                  <input id="hmap_blur" type="range" min="0.1" max="1" step="0.1" value="0.1"/>
                </div>
              </div>
            </div>
            <div class="grpLayer-body-sub">
              <input type="checkbox" id="qtRoadScoreChk" /> 도로라인 레이어
              <div class="qtRoadScoreDiv">
                <span class="layer-edit"><a href="#" id="save2" title="저장"><i class="fas fa-edit"></i></a></span>            
                <span class="layer-download"><a href="#" id="down2" title="다운로드"><i class="fas fa-download"></i></a></span>            
              </div>
            </div>
            <div class="grpLayer-body-sub">
              <input type="checkbox" id="qtCustomChk" /> 커스텀 Control
              <div class="grpLayer-body-sub psItems">
                <div>                
                  <div class="rangebar hmapSubDiv1">
                    <label>보행로 혼잡도 Control</label>
                    <div>
                      <input id="psObst_level_radius" style="width:100px;" type="range" min="0" max="1" step="0.1" value="1"/>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="rangebar hmapSubDiv2">
                    <label>보도 펜스 Control</label>
                    <br/>
                    <input id="psSf_level_radius" style="width:100px;" type="range" min="0" max="1" step="0.1" value="1"/>
                  </div>
                </div>
                <div>
                  <div class="rangebar hmapSubDiv3">
                    <label>보도 비율 Control</label>
                    <br/>
                    <input id="psSr_level_radius" style="width:100px;" type="range" min="0" max="1" step="0.1" value="1"/>
                  </div>
                </div>
                <div>
                  <div class="rangebar hmapSubDiv4">
                    <label>경사도 Control</label>
                    <br/>
                    <input id="psSlop_level_radius" style="width:100px;" type="range" min="0" max="1" step="0.1" value="1"/>
                  </div>
                </div>
                <div>
                  <div class="rangebar hmapSubDiv5">
                    <label>녹색 지수 Control</label>
                    <br/>
                    <input id="psSky_level_radius" style="width:100px;" type="range" min="0" max="1" step="0.1" value="1"/>
                  </div>
                </div>
                <div>
                  <div class="rangebar hmapSubDiv6">
                    <label>하늘개방감 지수 Control</label>
                    <br/>
                    <input id="psTree_level_radius" style="width:100px;" type="range" min="0" max="1" step="0.1" value="1"/>        
                  </div>
                </div>
                <div>
                  <div class="rangebar hmapSubDiv7">
                    <label>주요 시설 접근성 Control</label>
                    <br/>
                    <input id="psPoi_level_radius" style="width:100px;" type="range" min="0" max="1" step="0.1" value="1"/>
                  </div>
                </div>
                <div>
                  <div class="rangebar hmapSubDiv8">
                    <label>버스 정류장 거리 Control</label>
                    <br/>
                    <input id="psBus_level_radius" style="width:100px;" type="range" min="0" max="1" step="0.1" value="1"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="grpLayer-body-sub">
            <div>
              <input type="checkbox" id="psPointChk" /> 정성점수 레이어               
            </div>            
            <div class="grpLayer-body-sub">
              <input type="checkbox" id="qlPointChk" /> 포인트 레이어
              <div class="qlPointDiv">
                <span class="layer-edit"><a href="#" id="save1" title="저장"><i class="fas fa-edit"></i></a></span>            
                <span class="layer-download"><a href="#" id="down1" title="다운로드"><i class="fas fa-download"></i></a></span>            
              </div>
              <div class="grpLayer-body-sub">
                <input type="checkbox" id="qlPointScoreChk" /> 보행점수
              </div>
              <div class="grpLayer-body-sub">
                <input type="checkbox" id="qlPointHmapChk" /> 히트맵
                <div class="rangebar qlPointhmapDiv">                            
                  <label>HeatMap blur size</label>
                  <br/>
                  <input id="hmap_blur" type="range" min="0.1" max="1" step="0.1" value="0.1"/>
                </div>
              </div>
            </div>
            <div class="grpLayer-body-sub">
              <input type="checkbox" id="qlRoadScoreChk" /> 도로라인 레이어
              <div class="qlRoadScoreDiv">
                <span class="layer-edit"><a href="#" id="save2" title="저장"><i class="fas fa-edit"></i></a></span>            
                <span class="layer-download"><a href="#" id="down2" title="다운로드"><i class="fas fa-download"></i></a></span>            
              </div>
            </div>
            <div class="grpLayer-body-sub">
              <input type="checkbox" id="qlCustomChk" /> 커스텀 Control
            </div>
          </div>
        </div>

        <!--
        <div class="grpLayer-body">
          <input type="checkbox" id="psLayerChk2" /> 보행점수 레이어(기본)          
          <div class="grpLayer-body-sub">
            <input type="checkbox" id="psHmapChk2" /> 도로 네트워크
            <div class="psLineDiv">
              <span class="layer-edit"><a href="#" id="save2" title="저장"><i class="fas fa-edit"></i></a></span>            
              <span class="layer-download"><a href="#" id="down2" title="다운로드"><i class="fas fa-download"></i></a></span>            
            </div>
            <div class="rangebar hmapDiv2">
              <!--
              <div class="grpLayer-body-sub">
                <input type="checkbox" id="psHmapScoreChk2" /> 도로 네트워크 점수
              </div>
              
              <label>도로 지표 Control</label>
              <br/>            
              <input id="flowline_radius" type="range" min="1" max="50" step="1" value="15"/>            
              <br/>              
            </div>
            
          </div>
        </div>
      -->
<!--
        <div class="grpLayer-body">
          <input type="checkbox" id="psLayerChk3" /> 보행점수 레이어3
          <div class="grpLayer-body-sub">
            <input type="checkbox" id="psPointChk3" /> Point 레이어            
          </div>
          <div class="grpLayer-body-sub">
            <input type="checkbox" id="psHmapChk3" /> HeatMap 레이어            
            <div class="rangebar hmapDiv3">
              <div class="grpLayer-body-sub">
                <input type="checkbox" id="psHmapScoreChk3" /> HeatMap 점수
              </div>
              <label>HeatMap radius size</label>
              <br/>            
              <input id="hmap_radius3" type="range" min="1" max="50" step="1" value="15"/>            
              <br/>
              <label>HeatMap blur size</label>
              <br/>
              <input id="hmap_blur3" type="range" min="1" max="50" step="1" value="15"/>
            </div>
          </div>
        </div>
-->


        <!--
        <div class="grpLayer-body">
          <input type="checkbox" id="chkTest2" /> 레이어 테스트2
          <div class="hmapDiv2">
            <label>HeatMap radius size</label>
            <br/>            
            <input id="hmap_radius2" type="range" min="1" max="50" step="1" value="15"/>            
            <br/>
            <label>HeatMap blur size</label>
            <br/>
            <input id="hmap_blur2" type="range" min="1" max="50" step="1" value="15"/>
          </div>
        </div>
        <div class="grpLayer-body">
          <input type="checkbox" id="chkTest3" /> 레이어 테스트3
          <div class="hmapDiv3">
            <label>HeatMap radius size</label>
            <br/>            
            <input id="hmap_radius3" type="range" min="1" max="50" step="1" value="15"/>            
            <br/>
            <label>HeatMap blur size</label>
            <br/>
            <input id="hmap_blur3" type="range" min="1" max="50" step="1" value="15"/>
          </div>
        </div>
        -->
        <!--
        <div style="margin-left: 100px;">
          <button type="button" class="btn btn-secondary" onclick="javascript:doAnime()">2.5D 분석</button>
        </div>        
        <div style="margin: 20px;">
          지도 회전 : Alt+Shift+Drag
        </div>
        -->
        
        <!--
        <div>
          <label>w1: factor</label>
          <input id="radius" type="range" min="1" max="10" step="1" value="3"/>
        </div>
        -->
        
        
        
      </div>
  
      <div class="sidebar-pane" id="trackTimes">
        <h2 class="sidebar-header">
          공간 분석 결과
          <span class="sidebar-close"><i class="fas fa-caret-left"></i></span>
        </h2>
        <div id="trackQuery" style="margin-top:30px;">
          <div class="geostats-mode">
            <label><strong>모드 : </strong></label>
            <select name="analysisMode" id="analysisMode" style="width: 125px; height: 30px; border: 1px solid #c5c5c5;">
              <option value="1">내츄럴브레이크</option>
              <option value="2">등간격</option>
            </select>
          </div>
          <div class="geostats-mode">
            <label for="spinner"><strong>분류 : </strong></label>
            <input id="classCnt" name="value" style="width: 90px;">
            
            <div style="margin-left:10px; display:inline-block; vertical-align: middle;"><input type="button" id="btnCreate" value="생성"></div>
          </div>
                    
          <div class="area-result">
          
          </div>
        </div>
      </div>
  
      <div class="sidebar-pane" id="info">
        <h2 class="sidebar-header">
          Track Insert
          <span class="sidebar-close"><i class="fas fa-caret-left"></i></span>
        </h2>
        <div id="trackInsert">
          
        </div>
      </div>
  
      <div class="sidebar-pane" id="settings">
        <h2 class="sidebar-header">Settings<span class="sidebar-close"><i class="fas fa-caret-left"></i></span>
        </h2>
      </div>
    </div>
  </div>
  <!-- END OF SIDEBAR DIV -->

  <!-- START OF SIDEBAR DIV -->
  <div id="sidebar-right" class="sidebar collapsed">
  
    <!-- Nav tabs -->
    <div class="sidebar-tabs">
      <ul role="tablist">
        <li id="tablist-right"><a href="#imageTab" role="tab"><i class="fas fa-images"></i></a></li>        
      </ul>
    </div>
  
    <!-- Tab panes -->
    <div class="sidebar-content" style="word-break: break-all;">
      <div class="sidebar-pane" id="imageTab">
        <h2 class="sidebar-header">
          로드뷰 이미지
          <span class="sidebar-close"><i class="fas fa-caret-left"></i></span>
        </h2>                
        <div id="images">          
        </div>
      </div>
    </div>
  </div>
  <!-- END OF SIDEBAR DIV -->

  <!-- DIV pour la carte -->
  <div id="map" class="sidebar-map"></div>

  <% include ./modules/flowLine %>
  <% include ./modules/heatmap %>
  <% include ./modules/layers %>  
   
  <script type="text/javascript">

    var spinner = $( "#classCnt" ).spinner({
      min: 1,
      max: 5,
      step: 1
    });
    spinner.spinner( "value", 1 );

    var view = new ol.View({
      projection: 'EPSG:3857',      
      center: [14149732.451901091, 4275834.960402206],
      zoom: 17
    });

    var layers = [
      new ol.layer.Tile({
        // A layer must have a title to appear in the layerswitcher
        title: 'VWorld 2D',
        // Again set this layer as a base layer
        type: 'base',
        visible: true,
        source: new ol.source.XYZ({
          url: 'http://xdworld.vworld.kr:8080/2d/Base/service/{z}/{x}/{y}.png'
        })
      }),
      new ol.layer.Tile({
        // A layer must have a title to appear in the layerswitcher
        title: 'VWorld 2D 위성지도',
        // Again set this layer as a base layer
        type: 'base',
        visible: false,
        source: new ol.source.XYZ({
          url: 'http://xdworld.vworld.kr:8080/2d/Satellite/service/{z}/{x}/{y}.jpeg'
        })
      }),
      new ol.layer.Tile({
        // A layer must have a title to appear in the layerswitcher
        title: 'OSM',
        // Again set this layer as a base layer
        type: 'base',
        visible: false,
        source: new ol.source.OSM()
      })      
    ];

    //var map = new ol.PerspectiveMap({          
    var map = new ol.Map({          
      target: 'map',
      layers: layers,      
      view: view
    });

    var toc = document.getElementById("layers");
    ol.control.LayerSwitcher.renderPanel(map, toc);

    var sidebar = new ol.control.Sidebar({ element: 'sidebar-left', position: 'left' });    
    map.addControl(sidebar);

    var sidebar2 = new ol.control.Sidebar({ element: 'sidebar-right', position: 'right' });    
    map.addControl(sidebar2);
   
    var height = 0;
    function doAnime() {       
        if (r3D.animating()) return;

        if (height) map.setPerspective(0);
        else {
          map.getView().setCenter([14149732.451901091, 4275834.960402206]);
          map.getView().setZoom(16);
          map.setPerspective(15);
        }

        height = height ? 0 : "A16";
        r3D.animate({ height: height });
    }
   

  </script>

  <!--
  <% include ./modules/modals %>
  <% include ./modules/contextMenu %>
  -->

  <% include ./modules/init %>
  
  <% include ./modules/interaction %>  
  <% include ./modules/popup %>
  <% include ./modules/misc %>

</body>

</html>