<!doctype html>
<html lang="en">

<% include ./headers/header %>

<script type="text/javascript">

</script>

<body>
  <div id="div_load_image">
    <img src="/images/loading.gif" style="width:300px; height:300px;">
  </div>

  <!-- START OF SIDEBAR DIV -->
  <div id="sidebar-left" class="sidebar">
  
    <!-- Nav tabs -->
    <div class="sidebar-tabs">
      <ul role="tablist">
        <li class="active"><a href="#tracks" role="tab"><i class="fa fa-map"></i></a></li>
        <li><a href="#trackTimes" role="tab"><i class="fa fa-quora"></i></a></li>
        <li><a href="#info" role="tab"><i class="fa fa-plus"></i></a></li>
        <li><a href="https://github.com/khyoo/LX_analysisViewer" role="tab" target="_blank"><i
              class="fa fa-github"></i></a></li>
      </ul>
      <ul role="tablist">
        <li><a href="#settings" role="tab"><i class="fa fa-gear"></i></a></li>
      </ul>
    </div>
  
    <!-- Tab panes -->
    <div class="sidebar-content" style="word-break: break-all;">
      <div class="sidebar-pane active" id="tracks">
        <h2 class="sidebar-header">
          Layers & Tracks
          <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
        </h2>
        <div id="layers" class="layer-switcher"></div>
        <div style="margin-left: 100px;">
          <button type="button" class="btn btn-secondary" onclick="javascript:doAnime()">2.5D 분석</button>
        </div>
        <div style="margin: 20px;">
          지도 회전 : Alt+Shift+Drag
        </div>
        <div>
          <label>w1: factor</label>
          <input id="radius" type="range" min="1" max="10" step="1" value="3"/>
        </div>
      </div>
  
      <div class="sidebar-pane" id="trackTimes">
        <h2 class="sidebar-header">
          Deep Zones Insert
          <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
        </h2>
        <div id="trackQuery">
          
        </div>
      </div>
  
      <div class="sidebar-pane" id="info">
        <h2 class="sidebar-header">
          Track Insert
          <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
        </h2>
        <div id="trackInsert">
          
        </div>
      </div>
  
      <div class="sidebar-pane" id="settings">
        <h2 class="sidebar-header">Settings<span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
        </h2>
      </div>
    </div>
  </div>
  <!-- END OF SIDEBAR DIV -->

  <!-- START OF SIDEBAR DIV -->
  <div id="sidebar-right" class="sidebar collapsed">
  
    <!-- Nav tabs -->
    <div class="sidebar-tabs">
      <ul role="tablist">
        <li id="tablist-right"><a href="#imageTab" role="tab"><i class="fa fa-car"></i></a></li>        
      </ul>
    </div>
  
    <!-- Tab panes -->
    <div class="sidebar-content" style="word-break: break-all;">
      <div class="sidebar-pane" id="imageTab">
        <h2 class="sidebar-header">
          로드뷰 이미지
          <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
        </h2>                
        <div id="images">          
        </div>
      </div>
    </div>
  </div>
  <!-- END OF SIDEBAR DIV -->

  <!-- DIV pour la carte -->
  <div id="map" class="sidebar-map"></div>

  <% include ./modules/flowLine %>
  <% include ./modules/layers %>
   
  <script type="text/javascript">

    $('#div_load_image').hide();

    var view = new ol.View({
      projection: 'EPSG:3857',      
      center: [14149732.451901091, 4275834.960402206],
      zoom: 17
    });

    var layers = [
      new ol.layer.Tile({
        // A layer must have a title to appear in the layerswitcher
        title: 'VWorld 2D',
        // Again set this layer as a base layer
        type: 'base',
        visible: true,
        source: new ol.source.XYZ({
          url: 'http://xdworld.vworld.kr:8080/2d/Base/service/{z}/{x}/{y}.png'
        })
      }),
      new ol.layer.Tile({
        // A layer must have a title to appear in the layerswitcher
        title: 'VWorld 2D 위성지도',
        // Again set this layer as a base layer
        type: 'base',
        visible: false,
        source: new ol.source.XYZ({
          url: 'http://xdworld.vworld.kr:8080/2d/Satellite/service/{z}/{x}/{y}.jpeg'
        })
      }),
      new ol.layer.Tile({
        // A layer must have a title to appear in the layerswitcher
        title: 'OSM',
        // Again set this layer as a base layer
        type: 'base',
        visible: false,
        source: new ol.source.OSM()
      }),
      new ol.layer.Group({
        // A layer must have a title to appear in the layerswitcher
        title: 'Spatial 객체',
        // Adding a 'fold' property set to either 'open' or 'close' makes the group layer
        // collapsible
        fold: 'open',
        layers: [
          buildingVector,          
          roadPOIVector,
          flowlineVector
        ]
      })
    ];

    var map = new ol.PerspectiveMap({          
      target: 'map',
      layers: layers,      
      view: view
    });

    var toc = document.getElementById("layers");
    ol.control.LayerSwitcher.renderPanel(map, toc);

    var sidebar = new ol.control.Sidebar({ element: 'sidebar-left', position: 'left' });    
    map.addControl(sidebar);

    var sidebar2 = new ol.control.Sidebar({ element: 'sidebar-right', position: 'right' });    
    map.addControl(sidebar2);
   
    var height = 0;
    function doAnime() {  //console.log(buildingVector.get('visible'));
        //buildingVector.setVisible(true);

        if (r3D.animating()) return;

        if (height) map.setPerspective(0);
        else {
          map.getView().setCenter([14149732.451901091, 4275834.960402206]);
          map.getView().setZoom(16);
          map.setPerspective(15);
        }

        height = height ? 0 : "A16";
        r3D.animate({ height: height });
    }

    
  </script>

  <!--
  <% include ./modules/modals %>
  <% include ./modules/contextMenu %>
  -->

  <% include ./modules/interaction %>  
  <% include ./modules/misc %>

</body>

</html>