.options i.standard,
.options .fa {
    height: 1em;
    margin: 0;
    padding: 0.5em;
    width: 1em;
    cursor: pointer;
}

.options i.standard,
.options .fa:before {
    margin: 0;
    border: 1px solid transparent;
    display: inline-block;
    height: 1em;
    width: 1em;
    text-align: center;
    padding: 2px;
}

.options i.standard {
    font-style: normal;
    font-weight: bold;
    font-family: sherif;
    padding-bottom: 0.1em;
    line-height: 0.9em;
    margin-left: 0.35em;
}

.options i.standard:hover,
.options .fa:hover:before {
    border: 1px solid #369;
    border-radius: 100%;
    transform: scale(3);
    -webkit-transform: scale(3);
    background: #fff;
}

.ol-popup h1 {
    font-size: 1em;
    background-size: 2em;
    padding-left: 3em;
}

.animation {
    right: 50%;
    top: 0.5em;
}

.backdrop {
    width: 300px;
    height: 300px;
    border-radius: 30px;
    background-color: rgba(255, 255, 192, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 2px 7px 15px 8px rgba(0, 0, 0, 0.3);
}

.rtBtn {
    right: 0.5em;
    top: 0.5em;
}

.rbBtn {
    right: 0.5em;
    bottom: 0.5em;
}

.disableDiv {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 995;
    background-color: #EEEEEE;
    filter: Alpha(opacity=80);
    opacity: 0.8;
    -moz-opaciry: 0.8
}

.loadingArea {
    position: absolute;
    top: 32%;
    left: 42%;
    width: 0px;
    height: 0px;
    z-index: 9999;
    background: rgba(0, 60, 136, .5);
    filter: alpha(opacity=50);
    opacity: alpha*0.5;
    margin: auto;
    padding: 0;
    text-align: center
}