html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: small;
  overflow: hidden;
  font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}

#map {
  width: 100%;
  height: 100%;
  font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.options i.standard,
.options .fa {
  height: 1em;
  margin: 0;
  padding: 0.5em;
  width: 1em;
  cursor: pointer;
}

.options i.standard,
.options .fa:before {
  margin: 0;
  border: 1px solid transparent;
  display: inline-block;
  height: 1em;
  width: 1em;
  text-align: center;
  padding: 2px;
}

.options i.standard {
  font-style: normal;
  font-weight: bold;
  font-family: sherif;
  padding-bottom: 0.1em;
  line-height: 0.9em;
  margin-left: 0.35em;
}

.options i.standard:hover,
.options .fa:hover:before {
  border: 1px solid #369;
  border-radius: 100%;
  transform: scale(3);
  -webkit-transform: scale(3);
  background: #fff;
}

.ol-popup h1 {
  font-size: 1em;
  background-size: 2em;
  padding-left: 3em;
}

.animation {
  right: 50%;
  top: 0.5em;
}

.backdrop {
  width: 300px;
  height: 300px;
  border-radius: 30px;
  background-color: rgba(255, 255, 192, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 2px 7px 15px 8px rgba(0, 0, 0, 0.3);
}

.rtBtn {
  right: 0.5em;
  top: 0.5em;
}

.rbBtn {
  right: 0.5em;
  bottom: 0.5em;
}

.disableDiv {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 995;
  background-color: #EEEEEE;
  filter: Alpha(opacity=80);
  opacity: 0.8;
  -moz-opaciry: 0.8
}

.loadingArea {
  display: none;
  position: absolute;
  top: 32%;
  left: 42%;
  width: 0px;
  height: 0px;
  z-index: 9999;
  background: rgba(0, 60, 136, .5);
  filter: alpha(opacity=50);
  opacity: alpha*0.5;
  margin: auto;
  padding: 0;
  text-align: center
}

.grpLayer-title {
  margin-top: 5px;
  margin-left: 10px;
  line-height: 1.8em;
  font-weight: bold;
}

.grpLayer-anal {
  margin-left: 20px;
  line-height: 1.5em;
  margin-bottom: 5px;
}

.grpLayer-sub-anal {
  margin-left: 15px;
  line-height: 1.5em;
}

.psPointDiv,.psPointDiv2,.psLineDiv,.psItems {
  display: none;
}

.layer-download {
  position: absolute;
  right: 10px;
}

.layer-edit {
  position: absolute;
  right: 30px;
}

.rangebar {
  margin-top: 5px;
}

/* popup style */
.ol-popup {
  max-width: 300px;
  min-width: 100px;
  min-height: 1em;
}

/* Image on popup */
.ol-popup img {
  float: left;
  margin: 0 0.5em 0 0;
  max-width: 100px;
  max-height: 100px;
}

/* no image content tooltips */
.ol-popup.tooltips img {
  display: none;
}

/* Custom red style (tips) */
.ol-popup.red>div {
  background-color: red;
}

.ol-popup.red .anchor {
  color: red;
}

/* Custom orange style (tips) */
.ol-popup.tips.orange>div {
  border-color: #da7;
  background-color: #eca;
}

.ol-popup.tips.orange .anchor {
  color: #da7;
}

/* orange style (default) */
.ol-popup.default.orange>div {
  border: 4px solid #f96;
}

.ol-popup.default.orange .anchor {
  margin: -10px 22px;
}

.ol-popup.default.orange .anchor::after {
  margin: 5px -11px;
}

.ol-popup-middle.default.orange .anchor::after {
  margin: -10.5px -27px
    /*border:4 +2 px */
  ;
}

.ol-popup.default.orange .anchor {
  color: #f96;
}

.ol-popup.default.orange .closeBox {
  background-color: rgba(255, 153, 102, 0.7);
}

.ol-popup.default.orange .closeBox:hover {
  background-color: rgba(255, 153, 102, 1);
}

.ol-popup i {
  color: #666;
}
